# Source files

# Build and config files
rollup.config.js
eslint.config.js
jsdoc.json
tsconfig.json
tsconfig.*.json
vite.config.ts
vite.config.js
.prettierignore
.prettierrc

# IDE and system files
.DS_Store
.vscode/
.idea/
.github/
.gitignore

# Development files
node_modules/
package-lock.json


# Archives
*.tgz
